<span class="mydiv">
  <div class="form_hd">Book Your Service</div>
  <div class="mydiv1">
    <form method="post" id="login_form">
      <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Enter Your Name" name="name" required=""
          pattern="[a-zA-Z]+[a-zA-Z ]+">
      </div>
      <div class="margTopCls"></div>
      <div class="form-group">
        <input type="mobile" class="form-control" id="phnumber" placeholder="Enter Mobile Number" name="number"
          minlength="10" required="" pattern="[0-9]{10}">
      </div>
      <div class="margTopCls"></div>
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Enter Your Email" name="email" required="">
      </div>
      <div class="margTopCls"></div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 mysubmit">
          <button type="submit" name="sendmessage" class="btn btn-default form-btn">Submit</button>
        </div>
      </div>
    </form>
  </div>
</span>