<div class="topClass divLeft">
  <h1>Hi Here is the solution </h1>
  Whatsapp/call : 0099999989 <br />
  Email :theresoltion@gmail.com
</div>
<div class="topClass divRight">
  <div class="loadImgcls">
    <br/>
    <div class="logocls"></div>
  </div>
</div>
<nav class="navbar">
  <!-- LOGO -->
  <!-- <div class="logo">MUO</div> -->
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <!-- NAVIGATION MENUS -->
    <div class="menu">
      <li><a href="/">Home</a></li>
      <li class="services"><a href="/">Product</a>
        <!-- DROPDOWN MENU -->
        <ul class="dropdown">
          <li><a href="/">Desktop</a></li>
          <li><a href="/">Laptop</a></li>
          <li><a href="/">Data Recovery</a></li>
          <li><a href="/">Mobile Accessories</a></li>
          <li><a href="/">Laptop Accessories</a></li>
        </ul>
      </li>
      <li class="services">
        <a href="/">Services</a>
        <!-- DROPDOWN MENU -->
        <ul class="dropdown">
          <li><a href="/">Sales & services </a></li>
          <li><a href="/">Hardware & software</a></li>
          <li><a href="/">Computer Network</a></li>
          <li><a href="/">Remote Support</a></li>
          <li><a href="/">Data Recovery</a></li>
        </ul>
      </li>
      <li><a routerLink="aboutUs">About Us</a></li>
      <li><a href="/">Contact Us</a></li>
    </div>
  </ul>
</nav>