<!-- <div class="fixed-footer">
  <div class="container">Copyright &copy; 2022 Your Company</div>
</div> -->

<div class="footer_section" id="book-sec">
  <div class="top_footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="ftr_hd">Blogs</h4>

        </div>
        <div class="col-md-4">
          <h4 class="ftr_hd">Address</h4>
          <div class="ftr_cnt">
            <h6><i class="fa fa-map-marker prvacy_i" aria-hidden="true"></i> Head Office</h6>
            <p>Mobile Communications Service Pvt Ltd,</p>
            <p>Survey No 203/1, Gachibowli, Hyderabad-500032</p>
          </div>
        </div>
        <div class="col-md-4">
          <h4 class="ftr_hd">book your service</h4>
          <div class="ftr_frm">

            <form method="post" id="login_form">
              <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Enter Your Name" name="name" required=""
                  pattern="[a-zA-Z]+[a-zA-Z ]+">
              </div>
              <div class="margTopCls"></div>
              <div class="form-group">
                <input type="mobile" class="form-control" id="phnumber" placeholder="Enter Mobile Number" name="number"
                  minlength="10" required="" pattern="[0-9]{10}">
              </div>
              <div class="margTopCls"></div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Enter Your Email" name="email"
                  required="">
              </div>
              <div class="margTopCls"></div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 mysubmit">
                  <button type="submit" name="sendmessage" class="btn btn-default form-btn">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom_footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="footer_cnt">Copyright information @ {{loadDate | date :'MMM d, y'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>